fastapi[all]
uvicorn
sqlalchemy
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
apscheduler
rq
redis
joblib
pinecone-client
pyotp
cuid2
python-telegram-bot
exotel
msg91-sms
psycopg2-binary
